<header>
  <%= render 'shared/navbar' %>
  <div class="container-fluid slider-container">
    <div class="menu-slider">
      <div class="menu-slider--item">

      </div>

      <div class="menu-slider--item">

      </div>

    </div>

  </div>
</header>

<div class="main-wrapper">
  <div class="main-container">
    <div class="posts">
      <h1 class="main-title">New Posts</h1>
      <div class="posts-wrapper">
        <%= render partial: 'shared/post', collection: @posts %>
      </div>
      <div class="posts-pagination">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/aboutus' %>
<%= render 'shared/footer' %>
