<header>
  <%= render 'shared/navbar' %>
  <%= render 'shared/header_image' %>
  <%= render 'shared/header_menu' %>
  <div class="container-fluid slider-container">
    <div class="post-slider">
      <% @slider_posts.each do |slide_post| %>
        <div class="post-slider--item">
          <%= link_to slide_post do %>
            <%= image_tag slide_post.image.url(:thumb), class:"post-slider--item_image" %>
            <div class="post-slider--item_title">
              <%= slide_post.title %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</header>
<div class="main-wrapper">
  <div class="container-fluid main-container">
    <div class="posts-wrapper">
      <div class="posts">
        <h2 class="main-title"><%= main_title %></h2>
        <div class="posts-wrapper">
          <%= render partial: 'shared/post', collection: @posts %>
        </div>
        <div class="posts-pagination">
          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/sub_content' %>
<%= render 'shared/footer' %>
