<% set_meta_tags noindex: true %>
<script>
  $(function() {
    $("html").addClass("admin-wrap");
    $("body").addClass("admin-wrap");
    $(".wrap").addClass("admin-wrap");
  })
</script>
<div class="admin">
  <%= render 'shared/admin_side' %>
  <div class="admin-main">
    <div class="admin-main--header">
      <h2>Categories</h2>
    </div>
    <div class="admin-main--body">
      <div class="row categories">
        <%= render @categories %>
      </div>
      <div class="row categories">
        <div class="col-md-6 category-new">
          <div class="form-group">
            <%= form_for [:admin, @category] do |f| %>
              <div class="col-sm-10 category-new--form">
                <%= f.text_field :name, class:"col-sm-10 form-control input-lg" %>
              </div>
              <%= button_tag type: 'submit', class:"btn btn-primary col-sm-2" do %>
                <%= icon("far", "plus-square") %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
