<div class="side-bar--post" ontouchstart="">
  <div class="side-bar--post_index hidden-xs"><%= popular_post_counter + 1 %></div>
  <%= link_to popular_post, class: "side-bar--post-item" do %>
    <div class="side-bar--post-item--side">
      <%= image_tag popular_post.image.url(:thumb_mini), class: "side-bar--post-item--side_image" %>
    </div>
    <div class="side-bar--post-item--main">
      <p class="side-bar--post-item--main_title">
        <%= popular_post.title %>
      </p>
      <p class="side-bar--post-item--main_info">
        <span class="side-bar--post-item--main_info__category">
          <%= popular_post.category.name %>
        </span>
        <span class="side-bar--post-item--main_info__date">
          <%= popular_post.created_at.to_s(:published_on) %>
        </span>
      </p>
    </div>
  <% end %>
</div>
